*.egg-info
*.mo
*.py[cod]
*.swp
.installed.cfg
.plone.versioncheck.*
.project
.pydevproject
.Python
.pyvenv.cfg
pyvenv.cfg
pip-selfcheck.json
.settings/
bin/
buildout-cache/
develop-eggs/
include/
lib/
local/
share/
parts/
var/
.tox/
.python-version
.cache/
.coverage*
coverage.xml
htmlcov/
.pytest_cache/
_build/

/*.html
